<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient Finder for a given condition_id</title>
</head>
<body>
    <div class=container>
    <h1>Patient Finder for a given condition_id</h1>

    <form method="post">
        <label for="condition_id">Enter a condition ID:</label>
        <input type="text" name="condition_id" id="condition_id">
        <input type="submit" value="Search">
    </form>
    
    {% if result %}
    <h3>Results:</h3>
    <ul>
        {% for patient in result %}
            <li>
                <p>Patient ID: {{ patient.id }}</p>
                <p>First Name: {{ patient.name[0].given[0] }}</p>
                <p>Last Name: {{ patient.name[0].family }}</p>
                <p>Gender: {{ patient.gender }}</p>
                <p>Birth Date: {{ patient.birthDate }}</p>
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    </div>
</body>
</html>


<style>
    .container {
        display: grid;
        place-items: center;
    }
</style>


